<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Box Office</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>
    <div class="container bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
            <div class="container-fluid">
                <a class="navbar-brand" href="/dashboard">The Box Office</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/movie/add">Add a Movie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/all">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/{{ user.id }}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1>Welcome {{ user.username }}</h1>
        <div class="col" id="movies-row">
            <h2>Movies</h2>
            <div class="row">
            {% for movie in movies %}
            <div class="col-3 movie">
                <a href="/movie/{{ movie.id }}"><img src="{{ movie.poster.url }}" class="img-thumbnail"
                        alt="{{ movie.title }}"></a>
                <h3>{{ movie.title }}</h3>
            </div>
            {% endfor %}
            </div>
        </div>
        <div class="col" id="reviews-row">
            <h2>Reviews</h2>
            {% for review in reviews %}
            <div class="review">
                <h4>{{ review.user.username }} - {{ review.movie.title }}</h4>
                <p>{{ review.review_content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>yo