<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Box Office</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/show_profile.css' %}">

</head>

<body>
    <div class="container bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
            <div class="container-fluid">
                <a class="navbar-brand" href="/dashboard">The Box Office</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/movie/add">Add a Movie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/all">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/{{ user.id }}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1>{{ user.username }}'s Profile</h1>
        <div class="row">
            
            <div class="col-3" id="left-col">
                
                <div class="row" id="info-box">
                    <ul>
                        <li>Username: {{ user.username }}</li>
                        <li>Name: {{ user.name }}</li>
                        <li>Email: {{ user.email }}</li>
                        <li>Date Joined: {{ user.created_at | date:"F d, Y"}}</li>
                    </ul>
                </div>
                {% if user.id == session_user.id %}
                <div id="edit-profile">
                    <a class="col" href="/user/edit">Edit Profile</a>
                    <a class="col" href="/user/delete">Delete Profile</a>
                </div>
                {% endif %}
            </div>
            <div class="col-6" id="right-col">
                <h3>Reviewed Movies</h3>
                {% if user_reviews %}
                {% for review in user_reviews %}
                <div class="movie">
                    <a href="/movie/{{ review.movie.id }}"><img src="{{ review.movie.poster.url }}" alt="{{ review.movie.title }}"></a>
                    <h4>{{ review.movie.title }}</h4>
                    {% endfor %}
                    {% endif %}
                    <h3>{{ user.username }}'s Reviews</h3>
                    {% if user_reviews %}
                    {% for review in user_reviews %}
                    <div class="review">
                        <p>{{ review.review_content }}</p>
                        {% if review.comments %}
                        {% for comment in review.comments.all %}
                        <h5>{{ comment.user.username }}</h5>
                        <p class="comments">{{ comment.comment_content }}</p>
                        {% endfor %}
                        {% endif %}
                        <form action="/comment/add" method="POST">
                            {% csrf_token %}
                            <textarea name="comment_content" cols="30" rows="5"></textarea>
                            <input type="hidden" name="review_id" value="{{ review.id }}">
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <input type="submit" value="Comment" class="submit">
                        </form>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>