<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Box Office - {{movie.title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/show_movie.css' %}">
</head>
<body>
    <div class="container bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
            <div class="container-fluid">
                <a class="navbar-brand" href="/dashboard">The Box Office</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/movie/add">Add a Movie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/all">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/{{ user.id }}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1>{{ movie.title }}</h1>
        <div class="row">
        <div class="col" id="left-col">
            <img src="{{ movie.poster.url }}" alt="{{ movie.title }} poster">
            <div id="movie-info">
                <ul>
                    <li>Release Date: {{ movie.release_date }} </li>
                    <li>Genre: {{ movie.genre }}</li>
                    <li>Direcotr: {{ movie.director }}</li>
                </ul>
            </div>
        </div>
        <div class="col" id="middle-col">
            <div id="description">
            <h3>Description</h3>
            <p>{{ movie.description }}</p>
            </div>
            <div id="movie-reviews">
                <h3>Reviews</h3>
                {% if reviews %}
                {% for review in reviews %}
                <div class="review">
                <h5>{{ review.user.username }}</h5>
                <p>{{ review.review_content }}</p>
                {% if review.comments %}
                {% for comment in review.comments.all %}
                <h5>{{ comment.user.username }}</h5>
                    <p class="comment">{{ comment.comment_content }}</p>
                {% endfor %}
                {% endif %}
                <form action="/comment/add" method="POST">
                    {% csrf_token %}
                    <textarea name="comment_content" cols="30" rows="5"></textarea>
                    <input type="hidden" name="review_id" value="{{ review.id }}">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                    <input type="submit" value="Comment" class="submit">
                </form>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col" id="right-col">
            <div id="user-review">
                <h3>Your Review</h3>
                {% if user_review %}
                {% for review in user_review.all %}
                <p>{{ review.review_content }}</p>
                {% endfor %}
                {% else %}
                <form action="/review/add" method="POST">
                    {% csrf_token %}
                    <textarea name="review_content" cols="25" rows="5"></textarea>
                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input type="submit" value="Post Review">
                </form>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
</body>
</html>